[submodule "neorv32"]
	path = dependencies/neorv32
	url = https://github.com/stnolting/neorv32.git
[submodule "oup-wishbone"]
	path = dependencies/oup-wishbone
	url = https://github.com/IvanVeloz/oup-wishbone.git
[submodule "dependencies/riscv-gnu-toolchain"]
	path = dependencies/riscv-gnu-toolchain
	url = https://github.com/riscv-collab/riscv-gnu-toolchain.git
